@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.bg-light-gray {
  background-color: #e9ecef;
}

.rounded-corners {
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #5A9FD6;
}

.link:hover {
  color: #477DAF;
  text-decoration: underline;
}

.main-title {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.subtitle {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.justify {
  text-align: justify;
}

.btn-gray {
  background-color: #495057;
  color: white;
  font-weight: bolder;
}


.cancel-textarea {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  resize: none;
  transition: border-color 0.2s ease-in-out;
}

.cancel-textarea::placeholder {
  color: #888;
}

.cancel-textarea:focus {
  border-color: #6c757d;
  outline: none;
}

/*Agregue para mi letra. -Otto*/
.custom-font-size-smaller {
  font-size: 0.75rem;
}

.custom-font-color-font {
  font-size: 0.85rem;
  color: gray;
}